:root {
  --r-block-margin: 3px; 
  --r-main-font-size: 40px;
  --r-heading-margin: 0 0 4px 0;
}
.reveal .slide aside .aside-footnotes{
  font-size: 15px;
  bottom: 1.2em;
  line-height: 1.0;
}

/* trying to center text */
.center-text {
  display: flex;
  justify-content: center;
} /* doesnt work */


/* fix page height not used? */


/* ------------------------------------------ */
/* page break */

.reveal div.callout-body div.callout-content hr {
  border: none !important;
  height: 100px !important;
  background-color: #ddd !important;
  margin: 1rem 0 !important;
}




/* ------------------------------------------ */
/* header that stays {.persistent-header} TBD does not work yet*/

